<!-- <head>
  <style>
    .header__menu {
      background-color: black;
      
    }
    .main-header{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .main-header__logo{
      grid-column: span4;
    }
    .main-header__conten{
      grid-column: span8;
    }
  </style>
</head>
<body>
  

<nav class="navbar bg-body-tertiary shadow p-3 mb-5 bg-body-tertiary rounded fixed-top bg-white main-header">
  <div class="container-fluid main-header__logo">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Career Developments
    </a>
  </div>
  <div class="main-header__content">
  <ul class="header__menu">
  <li class="header__item">
      <button class="header__menu-button" type="button">Menu Items</button>
      <ul class="header__submenu">
          <li class="header__submenu-item"><a class="header__submenu-link" href="./index.html">Homepage</a></li>
          <li class="header__submenu-item"><a class="header__submenu-link" href="./about.html">About Us</a></li>
          <li class="header__submenu-item"><a class="header__submenu-link" href="./register.html">Sign Up</a></li>
      </ul>
  </li>
    </div>
</nav>
  </body> -->


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true" href="/register.html">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true" href="/event.html">Event</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Career Developments
    </a>
  </div>
</div>